@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

:root {
    --darkWhite: #f6f6f6;
    --lightBlack: #626262;
    --red: #FF0000;
    --blue: #288DEB;
    --lightBlue: #D1E9FF;
    --logoGreen: #17BBB0;
}

body {
    /* background-color: blue; */
    background-color: var(--lightBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 100vh; */
    width: 100vw;
    overflow-x: hidden;
    margin-top: 15vh;
    margin-bottom: 10vh;
}

.logoBar {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 0.75rem 4rem;
}

.logoBar a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
}

.logoBar img {
    height: 5vh;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 1rem;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.formBox {
    background-color: white;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    width: 30vw;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.25);
}

.emailOTPbox{
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.emailOTPbox input {
    margin-top: 0.5rem;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #C5C5C5;
    font-family: 'Dosis', serif;
    font-size: 1rem;
}

.inputBox{
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #C5C5C5;
    font-family: 'Dosis', serif;
    font-size: 1rem;
}

.inputBox input:focus{
    outline: 1px solid var(--blue);
}

.formBox button {
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-family: 'Roboto Slab', serif;
    border: none;
    width: 100%;
    color: white;
    background-color: var(--blue);
    transition: 0.3s;
}

.formBox button:hover{
    background-color: #006bd0;
}

.statButton{
    background-color:  #31cc6f;
    padding: 12px 15px;
    font: 'Dosis',sans-serif;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 5px;
    color: white;
    cursor: pointer;
}

.statButton:active{
    transform: scale(0.95);
}

.patientPrescriptions{
    font-family: 'Playfair Display',sans-serif;
    font-weight: 400;
}

#prescriptionBox{
    background-color: white;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.25);
    margin-top: 3rem;
}

#prescriptionBox h2, h3{
    font-family: 'Playfair Display', sans-serif;
    margin-bottom: 0.5rem;
    font-weight: 100;
}

#med {
    background-color: var(--darkWhite);
    border: 1px solid #c4c4c4;
    padding: 1rem; 
    margin-top: 2rem;
}

.dailyDoseBox {
    margin-top: 1rem;
}

.dailyDoseBox label {
    font-family: 'Dosis', serif;
    margin-right: 1rem;
}

.deleteContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#deleteMed {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #ff8a8a;
    color: black;
    font-family: 'Roboto Slab', serif;
}

.user-details{
    box-shadow: 0 0 24px rgba(0,0,0,0.25);
    border-radius: 10px;
    width: 600px;
    max-width: 95%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
    background-color: white;
}

.user-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

.user-name{
    font-size: 18px;
    font-family: 'Playfair Display',serif;
}

.user-age{
    font-family: 'Dosis', sans-serif;
    color: #333;
}

.user-basic-details{
    display: flex;
    flex-wrap: wrap;
    max-width: 25ch;
    margin: 10px;
    margin-left: 0;
}

.user-basic-details div{
    margin: 10px;
    margin-left: 0;
    display: flex;
    align-items: center;
    font-family: "Dosis",sans-serif;
}

/*Charts*/
#charts{
    display: flex;
    flex-wrap: wrap;
}

#charts canvas{
    width: 700px;
    max-width: 95%;
    margin: 50px;
}


.prescription-item{
    display: flex;
    flex-direction: column;
    width: 700px;
    max-width: 95%;
    padding: 20px;
    border-radius: 10px;
    margin: 40px auto;
    background-color: white;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.25);
}

.prescription-conditions{
    display: flex;


    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

.prescription-conditions div{
    margin: 10px 20px;
}

.medicine-list, .medicine-list th, .medicine-list td{
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.medicine-list th{
    color: black;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    background-color: #5aa2e6;
}

.current-medications th{
    background-color: var(--logoGreen);
}

.prescriptionTitle {
    font-family: 'Playfair Display', sans-serif;
    text-align: center;
    font-size: 32px;
}

td {
    background-color: white;
}