/*Boilerplate*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis:wght@200;300;400;500;600;700;800&family=PT+Serif&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{  
    height: 100vh;
    background: linear-gradient(to right, #81bdf5, #90c5f7);
}

:root {
    --darkWhite: #f6f6f6;
    --lightBlack: #626262;
    --red: #FF0000;
    --blue: #288DEB;
    --lightBlue: #D1E9FF;
}


/*General Layout*/
.carousel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.carousel-title{
    font-weight: 400;
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin: 2.5vh;
    letter-spacing: 0.5px;
}

.carousel-box{
    border-radius: 10px;
    padding: 25px;
    width: 700px;
    max-width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5vh;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*Slides*/
.instruction{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
    font-family: 'PT Serif', serif;
}

.carousel-slide{
    display: none;
}

.current-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Basic Details*/
.extra-input{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.extra-input label{
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.extra-input input, #vaccineInput input{
    background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 12px 0;
}

/*Vaccination Records*/
.instruction-subtitle{
    font-family: 'PT Serif', serif;
    font-size: 15px;
    text-align: center;
    margin: 4px;
}

#vaccineInput, #allergyInput, #reportInput{
    border: 1px solid black;
    margin: 10px;
}


/*Continue Button*/
#carousel-continue, .input-button{
    border-radius: 5px;
    border: 1px solid #31cc6f;
    background-color: #31cc6f;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 2.5vh;
}

#carousel-continue:active , .input-button:active{
	transform: scale(0.95);
}
